.container{
@media only screen and (min-width: 768px) {
 display: flex;
 justify-content: flex-end;
 padding-top: 31px;
}
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;

  @media only screen and (min-width: 768px) {
  background-color: rgba(0, 0, 0, 0.5);
  
  }
}

.btn-open{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 52px;
width: 128px;
height: 40px;
border-radius: 8px;
border: 1px solid #FFF;
background-color: transparent;

color: #FFF;

text-align: center;
font-family: Barlow Semi Condensed;
font-size: 16px;
font-weight: 600;
letter-spacing: 2.5px;
text-transform: uppercase;

cursor: pointer;

@media only screen and (min-width: 768px) {
  margin: 0;
  z-index: 10;
}
}

.btn-open:hover, .btn-open:focus{
  @media only screen and (min-width: 768px) {
    border: 1px solid #FFF;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
    color: #3B4262;
  }
}

.modal {
  height: 100vh;
  border-radius: 8px;
  background: #fff;

  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

 
  
  
  @media only screen and (min-width: 768px) {

width: 400px;
height: 415px;
  }
}



.modal-container{
    padding: 70px 31px 66px 33px;
    
    @media only screen and (min-width: 768px) {
      padding: 32px 32px 32.5px 49px;
      position: relative;
    }
}

.title {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
  color: #3b4262;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px; /* 100% */
  text-transform: uppercase;


  @media only screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 48px;
  }
}

.rules {
    display: block;
margin-bottom: 90px;
  width: 311px;
  height: 305px;
  background-repeat: no-repeat;
  background-image: url(../../images/image-rules-bonus.svg);

  @media only screen and (min-width: 768px) {
  margin-bottom: 0;
  }
}

.btn-close{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath opacity='0.25' fill-rule='evenodd' clip-rule='evenodd' d='M19.0919 2.12132L16.9706 0L9.54594 7.42462L2.12132 0L0 2.12132L7.42462 9.54594L0 16.9706L2.12132 19.0919L9.54594 11.6673L16.9706 19.0919L19.0919 16.9706L11.6673 9.54594L19.0919 2.12132Z' fill='%233B4262'/%3E%3C/svg%3E");

    cursor: pointer;

    @media only screen and (min-width: 768px) {
    position: absolute;
    top: 38px;
    left: 336px;
    }
}

.btn-close:hover, .btn-close:focus{
  @media only screen and (min-width: 768px) {
   filter: contrast(100);
  }
}