.container {
  padding-top: 95px;
  background-image: url(../../images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: top 145px left 42px;

  @media only screen and (min-width: 768px) {
    max-width: 472px;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;

    background-image: url(../../images/bg-pentagon-desktop.svg);
    background-position: top 123px left 64px;
  }
}

.eclipse {
  display: none;
}

.action {
  position: relative;
  z-index: 10;
}

.action:hover,
.action:focus {
  .eclipse {
    @media only screen and (min-width: 768px) {
      display: inline-block;
      position: absolute;
      top: -16px;
      left: -11px;

      z-index: 1;
      width: 168px;
      height: 172px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='168' height='172' viewBox='0 0 252 248' fill='none'%3E%3Cellipse opacity='0.05' cx='126' cy='124' rx='126' ry='124' fill='white'/%3E%3C/svg%3E");
    }
  }
}

.scissors {
  display: block;
  width: 96px;
  height: 97px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-image: url(../../images/icon-scissors.svg);
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 768px) {
    width: 145px;
    height: 148px;
    background-image: url(../../images/icon-scissors.svg);
    background-size: cover;
  }
}
.wrapper-spock{
    @media only screen and (min-width: 768px) {
    display: flex;
    gap: 182px;
    }
}

.spock {
  display: inline-block;
  position: relative;
  top: -15px;
  width: 96px;
  height: 97px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  background-image: url(../../images/icon-spock.svg);
  margin-right: 116px;

  @media only screen and (min-width: 768px) {
    display: block;
    top: -20px;
    width: 145px;
    height: 148px;
    background-image: url(../../images/icon-spock.svg);
    background-size: cover;
margin-right: 0;
  }
}

.paper {
  display: inline-block;
  position: relative;
  top: -15px;
  width: 96px;
  height: 97px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-image: url(../../images/icon-paper.svg);

  @media only screen and (min-width: 768px) {
    display: block;
    top: -20px;
    width: 145px;
    height: 148px;
    background-image: url(../../images/icon-paper.svg);
    background-size: cover;

  }
}

.wrapper {
  display: flex;
  padding-left: 43px;
  gap: 33px;

  @media only screen and (min-width: 768px) {
    padding-left: 63px;
    gap: 52px;
  }
}
.lizard {
  display: inline-block;
  width: 96px;
  height: 97px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  background-image: url(../../images/icon-lizard.svg);

  @media only screen and (min-width: 768px) {
    width: 145px;
    height: 148px;
    background-image: url(../../images/icon-lizard.svg);
    background-size: cover;
  }
}

.rock {
  width: 96px;
  height: 97px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  background-image: url(../../images/icon-rock.svg);

  @media only screen and (min-width: 768px) {
    width: 145px;
    height: 148px;
    background-image: url(../../images/icon-rock.svg);
    background-size: cover;
  }
}
